/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

#main {
}

#header {
  height: 46px;
  background-color: #000;
}

#nav li {
  display: inline-block;
}

#nav li a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
}

#nav li:hover a {
  color: #000;
  background-color: #ccc;
}

#nav .sub-nav {
  display: none;
}

#slider {
}

#content {
}

#footer {
}
